/* Services section  */
#services .box { 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

#services .box img{
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}