@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&family=Mukta:wght@600&family=The+Nautigal&family=Ubuntu:ital,wght@0,300;1,400&family=Work+Sans:wght@800&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* CSS Variables */
:root{
    --navbar-height: 40px;
}

/* Navigation Bar */
#navbar{
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    position: sticky;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    display: flex;
    align-items: center;
}

#logo img{
    height: 40px;
    margin: 3px 6px;
    border-radius: 50%;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#logo a{
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.3rem;
}

#navbar a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar a:hover{
    color: black;
    background-color: white;
}


/* foter */
footer{
    width: 100%;
    margin-top: auto;
    height: 5rem;
    text-align: center;
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 12px;
    color: black;
    text-decoration: underline;
    text-shadow: 1px 1px gray;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    
    padding: 12px;
    color: black;
    text-decoration: underline;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.btn:hover{
    color: aqua;
    box-shadow: 0 0 5px 5px grey;
}

.center{
    text-align: center;
}

.size{
    font-size: 1.5rem;
}

.details{
    border: 2px solid brown;
    box-shadow: 10px 10px 18px #888888;
    padding: 20px;
    margin: 30px 80px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

.space{
    padding-right: 100px;
}
.spaceList{
    padding-right: 20px;
}
.bold{
    font-weight: bolder;
}
.value{
    font-size: 20px;
}
/* #personalDetailTable{
    width: 500px;
} */

.inventoryInfo{
    display: flex;
    justify-content: center;
}
.inventoryTable{
    width: 1500px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid salmon;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.inventoryTable thead tr{
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-right: 1px solid white;
} 
.inventoryTable td,.inventoryTable th{
    padding: 5px 15px;
}
.inventoryTable tbody tr{
    border-bottom: brown;

}
.inventoryTable tbody tr:nth-of-type(even){
    background-color: burlywood;
    color: white;
}

.personal{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.wrap{
    border: 2px solid brown;
    border-radius: 28px;
}

.wrap button{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 15px;
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
    position: relative;
    text-align: center;
    left: 73%;
}

.wrap button:hover{
    color: aqua;
    box-shadow: 0 0 5px 5px grey;
    text-decoration: underline;
    font-size: 1.2rem;
}

#personalDetails{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.image img{
    margin: 20px;
    height: 160px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #888888;
}



#services-container{
    margin-top: 40px;
 }
#services{
    margin: 35px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    perspective: 300px;
}
#services .box{ 
    border: 2px solid brown;
    box-shadow: 10px 10px 18px #888888;
    width: 400px;
    padding: 34px;
    margin: 30px 30px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    /* height: 600px; */
    height: auto;

    transition: transform 1s;
}

#services .box:hover{
    /* width: 420px;
    padding: 44px;
    box-shadow: 20px 20px 18px #888888; */
    transform: translateZ(20px);
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

#services .box .order{
    text-align: center;
}

#personalDetailTable{
    width: auto;
}

.personalUpdate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    vertical-align: top;
}
.fname{
    /* position: relative;
    left: 170px;
    top: -37px; */
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lname{
    /* position: relative;
    left: 400px;
    top: -80px; */
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.fnamelb{
    /* position: relative; */
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    /* left: 175px;
    top: -40px; */
}
.lnamelb{
    /* position: relative; */
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    /* left: 160px;
    top: -40px; */
}

.shop{
    /* position: relative;
    left: 170px;
    top: -30px; */
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.email{
    /* position: relative;
    left: 170px;
    top: -30px; */
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.number{
    /* position: relative;
    left: 120px;
    top: -30px; */
    line-height: 40px;
    width: 240px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.address{
    /* position: relative;
    left: 170px;
    top: -30px; */
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.bn{
    padding: 2px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
}

.bn:hover{
    color: aqua;
    box-shadow: 0 0 5px 5px grey;
}