@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&family=Mukta:wght@600&family=The+Nautigal&family=Ubuntu:ital,wght@0,300;1,400&family=Work+Sans:wght@800&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* CSS Variables */
:root{
    --navbar-height: 40px;
}

/* Navigation Bar */
#navbar{
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    position: sticky;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    display: flex;
    align-items: center;
}

#logo img{
    height: 40px;
    margin: 3px 6px;
    border-radius: 50%;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#logo a{
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.3rem;
}

#navbar a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar a:hover{
    color: black;
    background-color: white;
}

/* Order Section */

.order{
    /* width: 1000px; */
    background: rgb(0,0,0,0.6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    margin-top: 50px;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0,0.5);
    /* width: 800px; */
    /* width: 1000px; */
    margin: auto;
    margin-bottom: 100px;
    border-radius: 0px 0px 15px 15px;
    height: 700px;
}
#name{
    width: 100%;
    height: 70px;
}
.name{
    margin-left: 25px;
    margin-top: 30px;
    /* width: 125px; */
    color: white;
    /* font-size: 18px; */
    font-weight: bolder;
}
.fname{
    position: relative;
    left: 171px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lname{
    position: relative;
    left: 370px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.fnamelb{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 175px;
    top: -40px;
}
.lnamelb{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 140px;
    top: -40px;
}
.sname{
    position: relative;
    left: 53px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 350px;
}
.oid{
    position: relative;
    left: 75px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 350px;
}
.code{
    position: relative;
    left: 170px;
    top: -30px;
    line-height: 40px;
    width: 90px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.number{
    position: relative;
    left: 150px;
    top: -30px;
    line-height: 40px;
    width: 360px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.area-code{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 80px;
    top: 10px;
}
.Phone-number{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: -210px;
    top: 10px;
}
.address{
    position: relative;
    left: 75px;
    top: 30px;
    line-height: 40px;
    /* width: 500px; */
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.quantity_price{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.status_date{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.quantity{
    position: relative;
    left: 74px;
    top: 2px;
    line-height: 40px;
    width: 170px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.price{
    position: relative;
    /* left: -63px; */
    /* left: 10px; */
    top: 5px;
    line-height: 40px;
    width: 170px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.status{
    position: relative;
    left: 91px;
    top: 2px;
    line-height: 40px;
    width: 170px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.date{
    position: relative;
    /* left: -63px; */
    /* left: 10px; */
    top: 5px;
    line-height: 40px;
    width: 170px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
#phone{
    width: 100%;
    height: 70px;
}
.phone{
    margin-left: 25px;
    margin-top: 40px;
    /* width: 125px; */
    color: white;
    /* font-size: 18px; */
    font-weight: bolder;
}
.cc{
    position: relative;
    left: 166px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.vc{
    position: relative;
    left: 274px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.cclb{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 170px;
    top: -40px;
}
.vclb{
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    left: 42px;
    top: -40px;
}
.cname{
    position: relative;
    left: -5px;
    top: 5px;
}
.check-text{
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
.main button{
    position: relative;
    top: 20px;
    width: 350px;
    background: red;
    display: inline-block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid orange;
    padding: 14px 110px;
    outline: none;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	border-radius: 25px;
}
.main button:hover{
    box-shadow: 0 0 5px 5px gray;
    /* height: 40px; */
    width: 400px;
}
.image img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.content{
    margin-right: 40px;
}
.image{
    padding: 30px;
    margin-left: 40px;
    margin-right: auto;
}
.image p{
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bolder;
}

.content{
    margin-right: 40px;
}
.main li{
    list-style-type:none;
    position: relative;
    top: 50px;
    left: 25px;
}
li label,input{
    display: inline-block;
    vertical-align: middle;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../image/contact.webp) no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    line-height: 5rem;
    width: 100%;
    height: 5rem;
    margin-top: auto;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    color: black;
}

.carousel-caption p{
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    color: black;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
    color: black;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.btn:hover{
    color: aqua;
    box-shadow: 0 0 5px 5px grey;
}